* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6600;
  --bg-grey: #f7f7f7;
  --heading-color: #232121;
  --border-radius: 6px;
  --font-color: rgba(22, 28, 45, 0.7);
  --footer-bg: #000;
  --bg-color: #fff;
}

a,
a:hover {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

button,
input,
select,
label,
li,
span {
  outline: none;
  font-family: "Quicksand", sans-serif;
}

li {
  list-style-type: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

iframe {
  border: none;
  display: block;
}
/* VIDEO */
.bg-white {
  background: #fff;
}

.video .history-info {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
}

.video .history-info::before {
  content: "";
  background: rgb(16 15 19/60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}

/* .video .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
} */

.video span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}

.video span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.mfp-hide {
  display: none !important;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

/* BLOGPOSTS */
.blogposts {
  background: var(--bg-grey);
}

.title-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.blogposts .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.blogposts .card-header {
  border: none;
  position: relative;
}

.radius-image {
  border-radius: var(--border-radius);
}

.blogposts .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogposts a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogposts a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogposts .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}

.blogposts .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.blogposts a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

/* TESTIMONIALS */
.agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}

.clients a.comment-img {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.clients .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

blockquote q {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}

.clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}

.clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

/* FOOTER */
.footer-main {
  background: var(--footer-bg);
}

.footer-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-main .footer-list ul li a,
.footer-main .footer-list ul li p,
.copyright .footer-list ul li a,
.footer-main a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-main .footer-list ul li a:hover,
.copyright .footer-list ul li a:hover,
.footer-main a:hover {
  color: var(--primary-color);
}

.main-social-footer a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.main-social-footer a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}

.main-social-footer a span.fa {
  line-height: 36px;
}

.footer-main h6.footer-title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer-main .footer-list ul li,
.footer-main .midd-footer:nth-child(1) .footer-list ul li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.footer-main .footer form {
  margin-top: 25px;
  position: relative;
}

.footer-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyright p.copy-footer {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.copyright .copy-footer a {
  color: var(--primary-color);
}

.copyright .copy-footer a:hover {
  color: #fff;
}

.copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

/* ANIMATIONS */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
